# Shell script to update the translations
# *.sh
# __pycache__
src/*/__pycache__
src/__pycache__
# Translation files that end with ~ (backup files)
po/*/*/*.po~
# msgfmt outputs
po/*/*/*.mo
# Py2exe outputs
src/dist/
# No vscode configurations
.vscode/
# debuild build directory
## note that .deb file will be placed in ../
build/
# another directories
src/texteditor.egg*/
texteditor.egg-info/
debian/files
.github