# Translation files that end with ~ (backup files)
po/*/*/*.po~
# msgfmt outputs
po/*/*/*.mo
# Py2exe outputs
texteditor/dist/
# No vscode configurations
.vscode/
# Some directories
texteditor/texteditor.egg*/
texteditor.egg-info/
texteditor/*/__pycache__
texteditor/__pycache__
# Building appimages
texteditor/po
texteditor/*.png
texteditor/*.svg
texteditor/*.desktop
texteditor/*DirIcon
texteditor/AppRun
texteditor/*.AppImage
texteditor/files.py
texteditor/setupwin.py
texteditor/*.zip