# Shell script to update the translations
# *.sh
# __pycache__
texteditor/*/__pycache__
texteditor/__pycache__
# Translation files that end with ~ (backup files)
po/*/*/*.po~
# msgfmt outputs
po/*/*/*.mo
# Py2exe outputs
texteditor/dist/
# No vscode configurations
.vscode/
# debuild build directory
## note that .deb file will be placed in ../
build/
# another directory
texteditor/texteditor.egg*/
texteditor.egg-info/
debian/files
# Building appimages
texteditor/po
texteditor/*.png
texteditor/*.desktop
texteditor/*DirIcon
texteditor/AppRun
texteditor/*.AppImage