Source: texteditor
Section: python utilities
Priority: optional
Maintainer: Le Bao Nguyen <bao12345yocoo@gmail.com>
Build-Depends: python3, python3-tk, python3-pil
Standards-Version: 1.0

Package: texteditor
Architecture: all
Pre-Depends: python3, python3-tk
Depends: ${misc:Depends}
Description: A simple, runnable text editor.
