[Desktop Entry]
Version=1.0
Name=textworker
Comment=An awesome text editor!
Exec=textworker
Path=/usr/bin/textworker
Terminal=false
Type=Application
Categories=Utility;Development;